---
page_title: "Passwork Provider"
subcategory: ""
description: |- 
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }} 
---

# Passwork Provider

The Passwork provider can be used to manage resources on the password manager [Passwork](https://passwork.de/), including vaults, folders and passwords.

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

## Authentication

The provider supports authentication via an API key. Users can retrieve an API key by following these steps:

1. Login to Passwork
2. Navigate to the Account settings
3. Open the API-Settings
4. Enter the authorization password or click "Log in via SSO"
5. Click on "Enable API"

## Argument reference

{{ .SchemaMarkdown | trimspace }}

## Development

If you want to develop the provider, the following steps can be done to set up a local development environment.

1. Clone the repository

```bash
git clone git@github.com:lupa95/terraform-provider-passwork
```

2. Make changes and compile the provider:

```bash
go install
```

3. Create the file `~/.terraform.rc` and point to the local sources (GOPATH):

```bash
provider_installation {

  dev_overrides {
      "registry.terraform.io/hashicorp/passwork" = "[insert GOPATH]/bin"
  }
  direct {}
}
```

## Run Tests

Running tests requires access to a Passwork instance.

1. Setup Provider configuration: 
```bash
export PASSWORK_API_KEY=<replace-with-api-key>
export PASSWORK_HOST=https://my-passwork-instance.com
export PASSWORK_VAULT_ID=<replace with ID of existing Vault> # Required for data source testing
```

2. Run tests:

```bash
# Run all tests
TF_ACC=1 go test -v

# Run tests for specific resource, e.g. password resource only:
TF_ACC=1 go test -v -run TestPasswordResource
```
